@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --brand-color: #fea301;
  --secondary-bg: #111111;
  --primary-text-color: #111111;
  --secondary-text-color: #202020;
  --description-text-color: #808080;
  --sky-blue-color: #01acfd;
  --purple-color: #8700ff;
  --green-color: #95b226;
  --dark-sky-color: #05d4df;
  --white-color: #fff;
}
body {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 100px auto 0;
}
.title {
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--primary-text-color);
}
.description {
  color: var(--description-text-color);
  font-size: 1rem;
}
.btn-primary {
  background-color: var(--secondary-bg);
  padding: 8px 35px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 12px;
  color: var(--white-color);
  cursor: pointer;
  border: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.img-responsive {
  width: 100%;
}

/* Header Styles */
.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-items {
  display: flex;
  align-items: center;
  gap: 8px;
}
.brand-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-text-color);
}
.navbar-items {
  display: flex;
  gap: 20px;
}

.navbar-item .nav-link {
  font-size: 1.25rem;
  font-weight: 500;
}
#home {
  font-weight: bold;
  color: var(--brand-color);
}
#about {
  color: var(--sky-blue-color);
}
#facilites {
  color: var(--dark-sky-color);
}
#admission {
  color: var(--purple-color);
}
.header-button {
  background-color: var(--brand-color);
  padding: 8px 35px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 12px;
  color: var(--white-color);
  cursor: pointer;
  border: none;
}
.mobile-header {
  display: none;
}
/* Hero Section styles */
.marquee-text {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    180deg,
    var(--brand-color),
    var(--dark-sky-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-section {
  max-width: 1200px;
  margin: 20px auto 0;
  display: flex;
  gap: 80px;
  align-items: center;
}
.hero-content,
.hero-img {
  flex: 1;
}
.hero-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
#empowering {
  color: var(--brand-color);
}
#vision {
  color: var(--sky-blue-color);
}
.hero-description {
  font-size: 1.125rem;
  color: var(--primary-text-color);
}

/* Curriculum Section Styles */
.curriculum-section {
  background-image: url("../assets/bg.png");
  background-position: top center;
  background-size: contain;
  background-repeat: repeat;
}
.curriculum-section .title {
  text-align: center;
}
.curriculums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 30px;
}
.curriculum-card {
  padding: 60px 40px;
  border-radius: 18px;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.05);
}
#curriculum-card1 {
  background-image: linear-gradient(180deg, #def5ff, #fff);
  border: 1px solid #def5ff;
}
#curriculum-card1 .curriculum-link {
  color: var(--dark-sky-color);
  font-size: 1rem;
  font-weight: bold;
}
#curriculum-card2 {
  background-image: linear-gradient(180deg, #fff4dc, #fff);
  border: 1px solid #fff4dc;
}
#curriculum-card2 .curriculum-link {
  color: var(--brand-color);
  font-size: 1rem;
  font-weight: bold;
}
#curriculum-card3 {
  background-image: linear-gradient(180deg, #f2e8ff, #fff);
  border: 1px solid #f2e8ff;
}
#curriculum-card3 .curriculum-link {
  color: var(--purple-color);
  font-size: 1rem;
  font-weight: bold;
}
.curriculum-card-title {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.arrows {
  display: flex;
  gap: 10px;
  max-width: 150px;
  margin: 0 auto;
  justify-content: center;
}
.arrow {
  height: 35px;
  width: 35px;
  padding: 10px;
  background-color: var(--brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.75rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Story Section Styles */
.story-section {
  background-image: url("../assets/bg.png"),
    linear-gradient(360deg, rgba(254, 163, 1, 0.3), #fff);
  background-position: top center;
  background-size: contain;
  background-repeat: repeat;
  padding-bottom: 60px;
}
.story-section .title {
  text-align: center;
}
.view-all-story {
  text-align: center;
}
.story-cards {
  display: flex;
  gap: 20px;
  margin: 60px 0;
}
.story-box1,
.story-box2 {
  flex: 1;
}
.story-box1 {
  background-color: var(--white-color);
  border-radius: 16px;
}
.story-box1 img {
  border-radius: 16px 16px 0 0;
}
.story-box1-info {
  padding: 15px 35px 15px 35px;
}
.story-box1-title {
  font-size: 1.75rem;
  font-weight: bold;
}
.story-box2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.story {
  background-color: var(--white-color);
  border-radius: 16px;
}
.story img {
  border-radius: 16px 16px 0 0;
}
.story-info {
  padding: 15px 25px;
}
.story-title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-text-color);
}
.story-date {
  text-align: center;
  margin-top: -25px;
}
.btn-story {
  padding: 10px 20px;
  background-color: var(--brand-color);
  border: none;
  color: var(--white-color);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.story-box1 .btn-story {
  background-color: var(--dark-sky-color);
}
/* Footer Section Styles */
footer {
  background-color: var(--sky-blue-color);
  padding: 80px 0;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
.footer-brand-items {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-brand-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white-color);
}

.footer-description {
  font-size: 1.125rem;
  color: var(--white-color);
  margin-top: 30px;
}
.footer-info-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white-color);
}
.footer-menu-items {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-menu-link {
  color: var(--white-color);
  font-size: 1.25rem;
  font-weight: 500;
}
.social-media {
  display: flex;
  gap: 5px;
}

/* Responsive design for small devices */
@media screen and (max-width: 576px) {
  .header {
    display: none;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--brand-color);
    padding-bottom: 10px;
    padding: 20px;
  }

  .menu-icon .fa-bars {
    font-size: 2.5rem;
    color: var(--secondary-bg);
  }
  .title {
    font-size: 1.75rem;
  }

  .hero-section {
    flex-direction: column-reverse;
    gap: 10px;
    padding: 0 10px;
  }
  .container {
    padding: 0 20px;
  }
  .hero-content {
    text-align: center;
  }
  .hero-title {
    font-size: 2rem;
  }
  .curriculums {
    grid-template-columns: repeat(1, 1fr);
  }
  .arrows {
    display: none;
  }
  .story-section {
    padding-bottom: 40px;
  }
  .story-cards {
    margin: 20px 0;
  }
  .story-box1 {
    display: none;
  }
  .btn-story {
    padding: 6px 8px;
  }
  .story-info {
    padding: 10px 15px;
  }
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0 10px;
  }
}

/* Medium Device Responsive Design */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--brand-color);
    padding: 10px;
  }
  .menu-icon .fa-bars {
    font-size: 2.5rem;
    color: var(--secondary-bg);
  }
  .header {
    display: none;
  }
  .hero-section {
    flex-direction: column-reverse;
    gap: 10px;
    padding: 0 10px;
  }
  .hero-content {
    text-align: center;
  }
  .container {
    padding: 0 20px;
  }
  .curriculums {
    grid-template-columns: repeat(1, 1fr);
  }
  .arrows {
    display: none;
  }
  .story-box1 {
    display: none;
  }
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 0 10px;
  }
}
